# Python's virtual environment
.pyenv/

# CoreNLP download file
downloads/corenlp.zip

# Extracted CoreNLP files
stanford-corenlp-4.0.0/

# Stanfordnlp module resources
stanfordnlp-resources/

# Extracted dataset files
SemEval2010_task8_all_data/
